/*FOOTER*/
.footer {
    background: #021017;
}

.footer-container {
    max-width: 1300px;
    padding: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
}

.footer-contato li{
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    color: #cccccc;
    list-style: none;
}

.footer-contato li a{
    color: #ffffff;
}

.footer-copy{
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
}

@media(max-width: 800px){
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-contato li{
        font-size: 1.5rem;
    }
}

@media(max-width: 320px){
    .footer {
        width: 352px;
    }

    .footer-container {
        padding: 80px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        gap: 50px;

    }
    
    .footer-texto{
        font-size: 1.3rem;
        line-height: 1;
        color: #cccccc;
    }
    
    .footer-contato li{
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
  
    .footer-copy{
        font-size: 1rem;
    }
}